<div class="row">
	<div class="large-10 columns">
	<h3>Your Contacts (3) </h3>
		<table>
			<thead>
				<tr>
					<th width="200px">Name</th>
					<th width="200px">Company</th>
					<th width="25%">Email</th>
					<th width="25%">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat ="contact in contacts">
					<td><a href="#">{{contact.name}}</a></td>
					<td>{{contact.company}}</td>
					<td>{{contact.email}}</td>
					<td>
						<a href="" class="button tiny" ng-click="showEditForm(contact)">Edit</a>
						<a href="" class="button tiny alert" ng-click="removeContact(contact)"> Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	<div class="small-12 large-2 columns">
		<a class="button large" ng-click="showAddForm()">+</a>
	</div>
</div>
</div>